<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>

<body>
<table>
    <colgroup>
        <col span="3" style="background:Khaki">
<!--        <col style="background-color:LightCyan">-->
    </colgroup>
    <tr><th> Cars ID </th><th> Cars Model</th><th> Cars Year</th>></tr>
        <tr th:each="car : ${carsList}">
            <td th:text="${car.getId()}">Id</td>
            <td th:text="${car.getModel()}"> Model </td>
            <td th:text="${car.getAge()}"> Age </td>
        </tr>
<!--    <th:block th:each="msg : ${messages}">
        <h1 th:text="${msg}"></h1>
    </th:block>-->
    </table>>
</body>
</html>
